// Link to fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

@import "/src/styles/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  background-color: $cream;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: 100dvh;
  padding: 20px;
  width: 100%;
}
